<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeetingApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C30FA7B1C2ED3C70059EAE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C30FA941C2ED3C70059EAE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C30FA9F1C2ED3C70059EAE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
